<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSF - Google Login</title>
    <%- include ('partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div id="main-div" class="container-fluid">
        <button class="btn p-0">
            <div id="icon" class="px-3 m-0">
                <i class="fa-brands fa-google material-icons-new icon-white"></i>
            </div>
            <div id="text" class="p-3 m-0">
                <a href="/auth">Log in With Google</a>
            </div>
        </button>
    </div>


    <%- include('partials/script-link')%>
</body>

</html>