<%if(session.userType==="customer"){%>
    <script>
        function handleSubscriber() {
            $(document).ready(() => {
                let email = (".subscribe-bar").valueOf();
                let body = { email };
                $.post("/subscribe", body, (data, status) => {
                    let html =
                        `<div class="col-12 alert alert-success alert-dismissible fade show" role="alert">
                        Successfully Subscribe ...
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
                    $(".succ-msg-div").html(html);
                });
            });
        }
    </script>
    <div class="container-fluid" id="footer-main-div">
        <div class="container px-0">

            <footer class="py-5">
                <div class="row" id="footer-section-div">
                    <div class="col-lg col-md col-sm-4 mb-4 footer-section">
                        <h5 class="footer-h5-heading">Section</h5>
                        <ul class="nav flex-column fix">
                            <li class="nav-item footer-item mb-2"><a href="/"
                                    class="nav-link px-2 py-1 text-muted">Home</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="/about"
                                    class="nav-link px-2 py-1 text-muted">About Us</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="/contact"
                                    class="nav-link px-2 py-1 text-muted">Conact Us</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">FAQs</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Pricing</a></li>
                        </ul>
                    </div>

                    <div class="col-lg col-md col-sm-4 mb-4 footer-section">
                        <h5 class="footer-h5-heading">Section</h5>
                        <ul class="nav flex-column fix">
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Home</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Features</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Pricing</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">FAQs</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">About</a></li>
                        </ul>
                    </div>

                    <div class="col-lg col-md col-sm-4 mb-4 footer-section">
                        <h5 class="footer-h5-heading">Section</h5>
                        <ul class="nav flex-column fix">
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Home</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Features</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">Pricing</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">FAQs</a>
                            </li>
                            <li class="nav-item footer-item mb-2"><a href="#"
                                    class="nav-link px-2 py-1 text-muted">About</a></li>
                        </ul>
                    </div>
                </div>

                <div id="footer-subscribe-div" class="py-3">
                    <div class="col-md-5" id="footer-subscribe-form-div">
                        <form action="#" method="get">
                            <h5 class="footer-h5-heading">Subscribe to our newsletter</h5>
                            <p class="footer-para px-2" style="color: #3C2A21;">Monthly digest of what's new and
                                exciting
                                from us.</p>
                            <div class="mx-auto succ-msg-div"></div>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <div class="input-group mb-3 px-2">
                                    <input type="text" class="form-control subscribe-bar" placeholder="Your Email"
                                        aria-label="Your Email" aria-describedby="button-addon2">

                                    <button class="btn btn-type-1" type="button" id="button-addon2"
                                        style="border: 1px solid #3C2A21;"
                                        onclick="handleSubscriber()">Subscribe</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <div class="px-2 py-2" id="footer-icon-downDiv">
                        <div class="py-0" id="footer-icon-container">
                            <div class="footer-iconDiv mx-1 mx-1 my-1 linkedIn-container">
                                <a href="https://www.linkedin.com/in/vraj-patel-397696214" target="_blank">
                                    <button class="btn footer-btnIcon" fdprocessedid="wwctig"><i
                                            class="fa-brands fa-linkedin-in"></i></button>
                                </a>
                            </div>
                            <div class="footer-iconDiv mx-1 my-1 github-container">
                                <a href="https://github.com/VrajPatelK" target="_blank">
                                    <button class="btn btnIcon" fdprocessedid="rp9v36"><i
                                            class="fa-brands fa-github"></i></button>
                                </a>
                            </div>
                            <div class="footer-iconDiv mx-1 my-1 facebook-container">
                                <a href="https://www.facebook.com/profile.php?id=100073303742732" target="_blank">
                                    <button class="btn btnIcon" fdprocessedid="u8wl9l"><i
                                            class="fa-brands fa-facebook-f"></i></button>
                                </a>
                            </div>
                            <div class="footer-iconDiv mx-1 my-1 instragram-container">
                                <a href="https://www.instagram.com/vrajpatel__010/" target="_blank">
                                    <button class="btn btnIcon" fdprocessedid="q8d7qmn"><i
                                            class="fa-brands fa-instagram"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="footer-para mt-sm-0 mt-3">
                        <i class="fa-solid fa-copyright"></i> 2022 Company, Inc. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <%}%>