<!-- FIRST HEADER -->
<div class="top-header row mx-auto px-2 pt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-1 logo-div d-flex justify-content-center align-items-center">
            <div class="logo-text-div">S.S.F</div>
        </div>
        <div id="toggler-btn-div" class="ms-auto px-0 pt-2">
            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle Navbar"
                style="background: #a52a2a4d; color: brown !important;">
                <i class="fa-solid fa-bars fa-spin"></i>
            </button>
        </div>

        <%if(session.userType==="customer" || session.userType==="admin" || session.userType==="manager" ){%>
            <div class="col-8 head-div d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-md-10 col-12 p-2 mx-auto">
                    <div class="input-group">
                        <input id="search_bar" type="text" list="datalistOptions" class="form-control"
                            placeholder="Search product category" aria-label="search" aria-describedby="button-addon2">
                        <button class="btn btn-type-1 search_btn" type="button" id="button-addon2"
                            onclick='handleSearch()'>Search</button>
                    </div>
                </div>
            </div>
            <%}%>
                <%if(session.userType==="customer"){%>
                    <div class="col-1 header-icon-div d-flex justify-content-end align-items-center">
                        <div class="fav-icon-div me-3">
                            <a href="/favourites" type="button"
                                class="btn bg-none outline-none rounded border position-relative">
                                <i class="fa-sharp fa-solid fa-heart" id="favourite-i"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                                    id="no_of_favs_badge">0
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </a>
                        </div>
                        <div class="cart-icon-div me-2">
                            <a href="/carts" type="button"
                                class="btn bg-none outline-none rounded border position-relative">
                                <i class="fa-solid fa-cart-shopping" id="cart-i"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                                    id="no_of_carts_badge">0
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <%}%>
    </div>
</div>

<!-- dataList -->
<datalist id="datalistOptions">
    <option value="bed">
    <option value="chair">
    <option value="jula">
    <option value="mattresse">
    <option value="shoerack">
    <option value="showcase">
    <option value="sofa">
    <option value="table">
    <option value="tempale">
    <option value="tvunit">
    <option value="wardrobe">
</datalist>


<!-- SECOND NAVBAR BAR -->
<nav class="navbar py-0 sticky-top navbar-expand-lg navbar-expand-lg">
    <div class="row mx-auto" id="parent-navs">

        <div id="third-nav" class="container px-0 py-2">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav nav-fill">

                    <li class="nav-item btn-type-1-inverse mx-2">
                        <a class="nav-link" aria-current="page" href="/">Home <i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="nav-item btn-type-1-inverse mx-2">
                        <a class="nav-link" href="/about">About Us <i class="fa-solid fa-address-card"></i></a>
                    </li>
                    <li class="nav-item btn-type-1-inverse mx-2">
                        <a class="nav-link" href="/contact">Contact Us <i class="fa-solid fa-phone"></i></a>
                    </li>
                    <%if(session.userType==="customer"){%>
                        <li class="nav-item btn-type-1-inverse mx-2">
                            <a class="nav-link" href="/product/all">All Furniture <i class="fa-solid fa-chair"></i></a>
                        </li>
                        <%}%>
                            <%if(session.userType==="customer" || session.userType==="admin" ||
                                session.userType==="manager" ){%>

                                <li class=" dropdown items-dropdown d-flex flex-column justify-content-center">
                                    <button class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2" type="button"
                                        id="dropdownMenuProducts" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products <i class="fa-brands fa-product-hunt"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuProducts">
                                        <li><a class="dropdown-item text-center" href="/product/sofa">Sofas </a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/bed">Beds </a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/mattresse">Mattresses
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/chair">Chairs</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/table">Tables</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/tvunit">TV Units</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/tempale">Tempales</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/shoerack">Shoeracks</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/showcase">Showcases</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/jula">Julas</a>
                                        </li>
                                        <li><a class="dropdown-item text-center" href="/product/wardrobe">Wardrobes</a>
                                        </li>
                                    </ul>
                                </li>
                                <%}%>

                                    <%if(session.userType==="admin" || session.userType==="accountant" ||
                                        session.userType==="manager" ){%>

                                        <li class="nav-item btn-type-1-inverse mx-2">
                                            <a href="/sells" class="nav-link">Sells</a>
                                        </li>
                                        <%}%>
                                            <%if(session.userType==="admin" || session.userType==="accountant" ){%>
                                                <li class="nav-item btn-type-1-inverse mx-2">
                                                    <a href="/orders" class="nav-link">Orders</a>
                                                </li>
                                                <%}%>
                                                    <%if(session.userType!=="customer" && session.userType!=="admin" &&
                                                        session.userType!=="accountant" && session.userType!=="manager"
                                                        ){%>
                                                        <li
                                                            class="dropdown items-dropdown d-flex flex-column justify-content-center">
                                                            <button
                                                                class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2"
                                                                type="button" id="dropdownMenuProfile"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                Profile <i class="fa-solid fa-user"></i>
                                                            </button>
                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuProfile">
                                                                <li><a class="dropdown-item text-center"
                                                                        href="/customer-login">
                                                                        Customer
                                                                    </a>
                                                                </li>
                                                                <li><a class="dropdown-item text-center"
                                                                        href="/customer-login">
                                                                        Admin Site
                                                                    </a>
                                                                </li>
                                                                <%}%>
                                                                    <!-- profile-dropdown -->
                                                                    <%if(session.userType==="customer" ){%>
                                                                        <li
                                                                            class="dropdown items-dropdown d-flex flex-column justify-content-center">
                                                                            <button
                                                                                class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2"
                                                                                type="button" id="dropdownMenuProfile"
                                                                                data-bs-toggle="dropdown"
                                                                                aria-expanded="false">
                                                                                Profile <i class="fa-solid fa-user"></i>
                                                                            </button>
                                                                            <ul class="dropdown-menu"
                                                                                aria-labelledby="dropdownMenuProfile">
                                                                                <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                        href="/customer-profile">
                                                                                        My Account &nbsp;&nbsp;<i
                                                                                            class="fa-solid fa-file-invoice"></i>
                                                                                    </a>
                                                                                </li>
                                                                                <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                        href="/my-orders">My Orders
                                                                                        &nbsp;&nbsp;<i
                                                                                            class="fa-solid fa-bag-shopping"></i></a>
                                                                                </li>
                                                                                <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                        href="/my-order-history">Order
                                                                                        History
                                                                                        &nbsp;&nbsp;<i
                                                                                            class="fa-solid fa-clock"></i></a>
                                                                                </li>
                                                                                <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                        href="/my-reviews">My Reviews
                                                                                        &nbsp;&nbsp;<i
                                                                                            class="fa-solid fa-star"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                    <hr class="dropdown-divider">
                                                                                </li>
                                                                                <li>
                                                                                    <a class="dropdown-item d-flex justify-content-center
                                                            align-items-center" href="/customer-logout">Logout
                                                                                        &nbsp;&nbsp;<i class="fa-solid
                                                                            fa-right-from-bracket"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                    <hr class="dropdown-divider">
                                                                                </li>
                                                                                <li><a class="dropdown-item text-danger d-flex justify-content-center align-items-center"
                                                                                        href="/customer-delete">
                                                                                        Delete Account &nbsp;&nbsp;<i
                                                                                            class="fa-solid fa-trash"></i>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <%}%>
                                                                            <%if( session.userType==="admin" ||
                                                                                session.userType==="manager" ||
                                                                                session.userType==="accountant" ) {%>
                                                                                <li
                                                                                    class="dropdown items-dropdown d-flex flex-column justify-content-center">
                                                                                    <button
                                                                                        class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2"
                                                                                        type="button"
                                                                                        id="dropdownMenuProfile"
                                                                                        data-bs-toggle="dropdown"
                                                                                        aria-expanded="false">
                                                                                        Profile <i
                                                                                            class="fa-solid fa-user"></i>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu"
                                                                                        aria-labelledby="dropdownMenuProfile">
                                                                                        <%if(
                                                                                            session.userType==="manager"
                                                                                            ||
                                                                                            session.userType==="accountant"
                                                                                            ) {%>
                                                                                            <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                                    href="/sys-user-profile">
                                                                                                    My Account
                                                                                                    &nbsp;&nbsp;<i
                                                                                                        class="fa-solid fa-file-invoice"></i>
                                                                                                </a>
                                                                                            </li>
                                                                                            <%}%>
                                                                                                <%if(session.userType==="admin"){%>
                                                                                                    <li><a class="dropdown-item d-flex justify-content-center align-items-center"
                                                                                                            href="/admin/admins">
                                                                                                            My Account
                                                                                                            &nbsp;&nbsp;<i
                                                                                                                class="fa-solid fa-file-invoice"></i>
                                                                                                        </a>
                                                                                                    </li>
                                                                                                    <%}%>
                                                                                                        <li>
                                                                                                            <a class="dropdown-item d-flex justify-content-center
                                                    align-items-center" href="/sys-user/logout">Logout &nbsp;&nbsp;
                                                                                                                <i
                                                                                                                    class="fa-solid fa-right-from-bracket"></i></a>
                                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                                <%}%>

                                                                                    <!-- System-users-drop-down -->
                                                                                    <%if(session.userType==="admin" ){%>
                                                                                        <li
                                                                                            class="dropdown items-dropdown d-flex flex-column justify-content-center">
                                                                                            <button
                                                                                                class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2"
                                                                                                type="button"
                                                                                                id="dropdownMenuSysUsers"
                                                                                                data-bs-toggle="dropdown"
                                                                                                aria-expanded="false">
                                                                                                System-Users
                                                                                            </button>
                                                                                            <ul class="dropdown-menu"
                                                                                                aria-labelledby="dropdownMenuSysUsers">
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=admins">Admin</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <hr
                                                                                                        class="dropdown-divider">
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=accountants">Accountants</a>
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=managers">Managers</a>
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=workers">Workers</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <hr
                                                                                                        class="dropdown-divider">
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=manufacturers">Manufacturers</a>
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=vendors">Vendors</a>
                                                                                                </li>
                                                                                                <li><a class="dropdown-item text-center"
                                                                                                        href="/admin/manage?manage_type=customers">Customers</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </li>
                                                                                        <%}%>

                                                                                            <%if(session.userType==="admin"
                                                                                                ||
                                                                                                session.userType==="manager"
                                                                                                ){%>
                                                                                                <li
                                                                                                    class=" dropdown items-dropdown d-flex flex-column justify-content-center">
                                                                                                    <button
                                                                                                        class="btn dropdown-toggle btn-type-1-inverse mx-2 py-2"
                                                                                                        type="button"
                                                                                                        id="dropdownMenuImportExport"
                                                                                                        data-bs-toggle="dropdown"
                                                                                                        aria-expanded="false">
                                                                                                        Import-Export
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu"
                                                                                                        aria-labelledby="dropdownMenuImportExport">
                                                                                                        <li><a class="dropdown-item text-center"
                                                                                                                href="/admin/manage?manage_type=import">Import</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <hr
                                                                                                                class="dropdown-divider">
                                                                                                        </li>
                                                                                                        <li><a class="dropdown-item text-center"
                                                                                                                href="/admin/manage?manage_type=export">Export</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                                <%}%>
                                                                                                    <!-- admin - reserved -->
                                                            </ul>
            </div>
        </div>
    </div>
</nav>



<%=session.userType%>
    <%if(session.userType==="customer" ){%>


        <nav class="navbar below-navbar navbar-expand">
            <div class="container row mx-auto px-1 below-nav-div">
                <ul class="navbar-nav below-navbar-nav mx-auto px-2 py-2">
                    <li class="nav-item mx-2 below-nav-item">
                        <a class=" nav-link below-nav-link active nav-a selected-a" aria-current="page"
                            href="/my-orders">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2 below-nav-item">
                        <a class=" nav-link below-nav-link active nav-a" aria-current="page" href="/my-reviews">
                            <i class="fa-solid fa-star"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2 below-nav-item">
                        <a class="nav-link below-nav-link active nav-a position-relative" aria-current="page"
                            href="/favourites">
                            <i class="fa-solid fa-heart"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-1 rounded-circle cnt-span">
                                13
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item mx-2 below-nav-item">
                        <a class="nav-link below-nav-link active nav-a position-relative" aria-current="page"
                            href="/carts">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-1 rounded-circle cnt-span">
                                13
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item mx-2 below-nav-item">
                        <a class="nav-link below-nav-link active nav-a" aria-current="page" href="/customer-profile">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <%}%>