#intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-para-div {
    /* border: 2px solid blue; */
    background: rgb(247, 224, 215);
    color: rgb(186, 50, 1);
    border-radius: .9rem;
    width: 100% !important;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.owner-img {
    /* border: 2px solid red; */
    width: 20rem;
    height: 25rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#quality-div {
    /* border: 2px solid rgb(0, 98, 255); */
    padding-top: 30px;
    padding-bottom: 100px;
}

.about-card {
    background: rgb(255, 251, 235);
    border-radius: 50%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card {
    transition: box-shadow .8s;
}

.about-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about-card>img {
    width: 13rem;
    height: 13rem;
}

#showroom-div {
    /* border: 2px solid rgb(17, 255, 0); */
    padding-top: 30px;
    padding-bottom: 100px;
}