/* #gmap-div {
    border: 2px solid rgb(40, 199, 61);
} */


#contact-us-div {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #contact-card-div {
      border: 2px solid brown;
  } */

#contact-card-left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box1,
#box2 {
    /* border: 2px solid rgb(199, 170, 40); */
    background: #D5CEA3;
    color: #1A120B;
    border-radius: .5rem;
    text-shadow: 10px 20px 15px 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#box1-icon-container,
#box2-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-icon-container i {
    color: #000;
    font-size: 1.2rem;
}

#contact-card-right-div {
    /* border: 2px solid rgb(40, 72, 199); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-card-right-div form {
    background: #D5CEA3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#contact-mobile,
#contact-email {
    background: #fff;
    border-radius: .5rem;
    color: #1A120B;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#contact-email:hover,
#contact-mobile:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 15px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.icon {
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    height: 2rem;
    max-width: 2rem;
    position: relative;
    margin-top: 0.2rem;
    margin-top: 5%;
    margin-left: 45%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.icon i {
    color: #111013;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.linkedIn-container {
    background: #285AEB;
}

.whatsapp-container {
    background: rgb(0, 239, 0);
}

.facebook-container {
    background: #285AEB;
}

.instragram-container {
    color: #fff;
    display: inline-block;
    padding-top: 3px;
    text-align: center;
    border-radius: 40px;
    /* font-size: 220px; */
    /* line-height: 250px; */
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.linkedIn-container,
.whatsapp-container,
.facebook-container,
.instragram-container,
.box1-icon-container {
    border: .15rem solid #fff;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    max-width: 2.5rem;
    position: relative;
    margin-top: 0.2rem;
    cursor: pointer;
    box-shadow: inset -1px 0px 16px -4px rgb(0 0 0 / 75%);
}

.linkedIn-container i,
.whatsapp-container i,
.facebook-container i,
.instragram-container i {
    color: #fff;
    font-size: 1.3rem;
}

#contact-card-right-div form input,
#contact-card-right-div form textarea {
    outline: none;
    box-shadow: none;
    border: none;
    background: #fff;
}

#contact-sbmt-btn {
    background: #fff;
    border-radius: .9rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#contact-sbmt-btn:hover {
    background: #fff;
}

/* GOOGLE MAP */
#gmap-div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .g-map-div {

    border: 2px solid red;
} */

.g-map-div iframe {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}