.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .profile-card-grant-parent-div {
    border: 2px solid;
} */

/* .profile-card-parent-div {
    border: 2px solid red;
} */
.plus-btn-div {
    display: flex;
    justify-content: right;
    align-items: center;
}

.profie-card-div {
    /* border: 2px solid blue; */
    background: rgb(255 100 39);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-img-div {
    background: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-info-div {
    border: 2px solid #fff;
    background: none;
    border-radius: 0.5rem;
}

.profile-info-grp>li {
    background: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile-info-grp>li>p {
    color: orangered;
    color: rgb(186, 50, 1);
    font-size: large;
    margin: 0px;
}

.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .list-group-item p {
    border: 2px solid red;
} */

.profile-info-btn-div a {
    text-decoration: none;
}

.btn-type-1,
.btn-type-1 {
    color: #fff;
    border: none;
    background: orangered;
    border-radius: 0.5rem;
    border-radius: none !important;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.btn-type-1:hover,
.btn-type-1:hover {
    color: orangered;
    background: rgb(255, 231, 222);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -100px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -25px inset;
}

.btn-type-2,
.btn-type-2,
.btn-type-2,
.btn-type-2 {
    background: #fff;
    color: orangered;
    border-radius: 0.5rem;
    border-radius: none !important;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-type-2:hover,
.btn-type-2:hover,
.btn-type-2:hover,
.btn-type-2:hover {
    background: rgb(255, 231, 222);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -100px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -25px inset;

}

/* modal */
#addAdminModal {
    border-radius: .5rem;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: rgba(255, 165, 0, 0.3)
}

.modal-content {
    color: #fff;
}

.modal-header {
    background: linear-gradient(to right, rgb(255 91 27), rgb(255, 179, 0));
    color: #fff;
}

.modal-body {
    background: rgb(255 91 27);
    background: linear-gradient(to right, rgb(255 91 27), rgb(255, 179, 0));
}

.modal-body input,
textarea {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: orangered !important;
}

.modal-body label {
    color: orangered;
}

.modal-body input::placeholder {
    color: orangered;
}


@media (max-width:991px) {
    .list-group-item {
        display: block !important;
    }

    .profile-info-div {
        border: none !important;
    }

    .value-para,
    .list-group-item input {
        width: 100% !important;
    }
}