* {
    margin: 0px;
    padding: 0px;
}

.headDiv {
    color: #1A120B;
    text-align: center;
}

.admin-loign-main-div {
    height: 65vh;
    display: flex;
    align-items: end;
}

#login-form-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: #fff;
    background: #E5E5CB;

}

#login-form-cnt>form {
    text-align: center;
    /* background: #E5E5CB; */
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
}

input,
select {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    /* border: .01rem solid #3C2A21 !important; */
    color: #1A120B !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}

input:hover,
select {
    box-shadow: none;
}

input::placeholder {
    color: rgb(134, 133, 133);
}

.input-group-text {
    background: #fff !important;
    color: #1A120B !important;
    border: none !important;
}