<<<<<<< HEAD
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - ADMIN HOME</title>
    <%- include ('../partials/header-links') %>


</head>

<body>
    <%- include('../partials/navbar')%>
        ORDERS
</body>

=======
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - ADMIN HOME</title>
    <%- include ('../partials/header-links') %>


</head>

<body>
    <%- include('../partials/navbar')%>
        ORDERS
</body>

>>>>>>> tmp
</html>