<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - All Products</title>

    <%- include ('../../partials/header-links') %>
        <link rel="stylesheet" href="../../../CSS/manage-admin.css">


        <%if(session.userType==="customer" || session.userType==="admin" || session.userType==="manager" ){%>
            <script src="../JS/product-script.js" defer></script>
            <script>
                handleFilter();
            </script>
            <%}%>

</head>

<body>
    <%- include('../../partials/navbar')%>

        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                <%if(session.userType==="admin" || session.userType==="manager" ){%>
                    Manage
                    <%}%>
                        All Products
                        <hr>
            </h4>
        </div>

        <div class="container row mx-auto px-0 py-3 card-parent-div">
        </div>


        <!-- footer -->
        <%- include('../../partials/footer')%>


</body>

</html>