<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        SSF - Shopping Cart
    </title>
    <%- include ('../../partials/header-links') %>

        <%if(session.userType==="customer" ){%>
            <script>

                display_carts(); // calling ...

                function display_carts() { //declare ...
                    $(document).ready(() => {

                        getCarts = new Promise((resolve, reject) => {
                            $.get('/get-carts', (data, status) => {
                                let cartItems = data;
                                $("#no_of_carts_badge").text(cartItems.length);

                                //options
                                let optionsArr = new Array();
                                cartItems.forEach((cartItem, indx) => {

                                    let optionsTags = "";
                                    for (let i = 1; i <= 20; i++) {
                                        optionsTags += (cartItem.quantity === i) ?
                                            `<option value="${i}" selected>${i}</option>` :
                                            `<option value="${i}">${i}</option>`;
                                    }
                                    optionsArr.push(optionsTags);
                                });

                                //all carts
                                let all_carts = "";
                                let Carts = 0;
                                let Discounts = 0;

                                cartItems.forEach((cartItem, indx) => {

                                    //billing ...
                                    let cart_total = Math.ceil(cartItem.product.price * cartItem.quantity);
                                    let cart_discount = Math.floor(cart_total * (cartItem.product.discount / 100));

                                    Carts += cart_total;
                                    Discounts += cart_discount;

                                    //rows ...
                                    all_carts +=
                                        `<tr>
                                        <th scope="row">${indx + 1}</th>
                                        <td>${cartItem.product.sofa_name}</td>
                                        <td>${new Date()}</td>
                                        <td><select name="quantity" id="quantity-${cartItem._id}" onchange="updateCart('${cartItem._id}')">${optionsArr[indx]}</select></td>
                                        <td>${cart_total - cart_discount}</td>
                                        <td><button class="btn btn-outline-danger" onclick=rmvCart('${cartItem._id}')><i class="fa-solid fa-trash"></i></button></td>
                                    </tr>`
                                });

                                let Total = Carts - Discounts;
                                let bill =
                                    `
                                <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Cart</span><span class="amount">${Carts}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Discounts</span><span class="amount">${Discounts}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Delivery Charges</span><span class="amount text-success"><b>FREE</b></span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Total Amount</span><span class="amount text-success">${Total}</span></li>`;

                                $("#table-body").html(all_carts);
                                $("#bill-body").html(bill);

                            });
                        });
                    });
                }


                function updateCart(cartid) {
                    let quantity = $(`#quantity-${cartid}`).val();
                    let body = { cartid: cartid, quantity: quantity };

                    $.post("/update-cart", body, function (data, status) {

                        display_carts();
                    });
                }

                function rmvCart(cartid) {
                    let body = { cartid: cartid };

                    $.post("/rmv-to-cart", body, function (data, status) {
                        console.log(body);
                        display_carts();
                    });
                }

            </script>
            <%}%>
</head>


<body>
    <%- include ('../../partials/navbar') %>

        <div class="container-fluid">
            <div class="container table-div table-responsive-lg">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Delivey By</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>


            <div class="container">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Bill
                    </div>
                    <ul class="list-group list-group-flush" id="bill-body"></ul>
                    <div class="card-footer text-center">
                        <a href="#" class="col-5 me-2">continue shopping</a>
                        <button class="btn btn-outline-success col-5">checkout</button>
                    </div>
                </div>
            </div>

        </div>
</body>

</html>