<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer - Login</title>
    <%- include ('../../partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="../css/system-user-login.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="container headDiv">
            <h3>
                Customer
                <i class="fa-solid fa-lock"></i>
            </h3>
            <hr>
        </div>
    </div>
    <% if(swr) {%>
        <div class="container alert alert-danger alert-dismissible fade show" role="alert">
            <%=em%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>

            <div class="container-fluid admin-loign-main-div">
                <% if(swr) {%>
                    <div class="container col-xl-5 col-lg-8 col-md-10 col-12" id="login-form-cnt">
                        <form class="col-sm-10 col-12 px-sm-4 px-1 py-5" method="post">
                            <div class="my-2 input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control login-input" id="email" name="email"
                                    placeholder="email" value="vraj.patel4801@gmail.com" required>
                            </div>
                            <div class="my-2 input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="password" class="form-control login-input" id="pass" name="pass"
                                    placeholder="password" value="root" required>
                            </div>
                            <div class="mb-3">
                                <a href="/customer-register">Forgot Password ?</a>
                            </div>
                            <div class="mt-3 mb-0 mx-auto">
                                <button type="submit" class="btn btn-type-1" id="proceed" name="proceed">
                                    Login <i class="fa-solid fa-right-to-bracket"></i>
                                </button>
                            </div>
                        </form>

                    </div>
                    <%}else{%>

                        <div class="container col-xl-5 col-lg-8 col-md-10 col-12" id="login-form-cnt">
                            <form class="col-sm-10 col-12 px-sm-4 px-1 py-5" method="post">
                                <div class="my-2 input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control login-input" id="email" name="email"
                                        placeholder="email" value="vraj.patel4801@gmail.com" required>
                                </div>
                                <div class="my-2 input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fa-solid fa-key"></i>
                                    </span>
                                    <input type="password" class="form-control login-input" id="pass" name="pass"
                                        placeholder="password" value="root" required>
                                </div>
                                <div class="mb-3 px-2 rounded-2 d-flex justify-content-start bg-white">
                                    <a href="/customer-register">Forgot Password ?</a>
                                </div>
                                <div class="mt-3 mb-0 mx-auto">
                                    <button type="submit" class="btn btn-type-1" id="proceed" name="proceed">
                                        Login <i class="fa-solid fa-right-to-bracket"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <%}%>

            </div>

</body>

</html>