<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        SSF - My Favourites
    </title>
    <%- include ('../../partials/header-links') %>

        <%if(session.userType==="customer" ){%>
            <script>

                display_favs(); // calling ...

                function display_favs() { //declare ...
                    $(document).ready(() => {

                        getFavs = new Promise((resolve, reject) => {
                            $.get('/get-favourites', (data, status) => {
                                ;
                                let favItems = data;
                                $("#no_of_favs_badge").text(favItems.length);
                                let html = "";
                                favItems.forEach(favItem => {
                                    html +=
                                        `<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center fav-card-div">
                                            <div class="card" style="width: 18rem;">
                                                <img src="${favItem.product.image}" class="card-img-top" alt="..." style="height:15rem"";>
                                                <div class="card-body d-flex justify-content-start align-items-center" style="width:100;">
                                                    <button class="btn bg-white mx-2" onclick=rmvFavs('${favItem._id}')>
                                                        <i class="fa-solid fa-heart fa-beat" style="color: #ff3300;"></i>
                                                    </button>
                                                    <a href="/product/all" class="btn btn-warning mx-2">
                                                        countinue shopping
                                                    </a>
                                                </div>
                                            </div>
                                        </div>`;
                                });

                                $(".my-favs-div").html(html);
                            });
                        });
                    });
                }


                function rmvFavs(lid) {

                    let body = { lid };
                    $.post("/rmv-to-fav", body, (data, satus) => {
                        display_favs();
                    });
                }
            </script>
            <%}%>
</head>


<body>
    <%- include ('../../partials/navbar') %>
        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                Favourites
                <hr>
            </h4>
        </div>
        <div class="container-fluid">
            <div class="row mx-auto d-flex justify-content-center align-items-center my-favs-div"></div>
        </div>
</body>

</html>