<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        SSF - My Orders
    </title>
    <%- include ('../../partials/header-links') %>

        <%if(session.userType==="customer" ||session.userType==="admin" ){%>
            <script>

                display_orders(); // calling ...

                function display_orders() { //declare ...
                    $(document).ready(() => {

                        getCarts = new Promise((resolve, reject) => {
                            $.get('/get-orders', (data, status) => {

                                let itemMap = new Map();

                                for (let i = 0; i < data.itemArr.length; i++) {
                                    let item = data.itemArr[i];
                                    itemMap.set(item.oid, item.orderItems);
                                }

                                let orders = data.orders;
                                let html = "";
                                console.log(orders);
                                for (let i = 0; i < orders.length; i++) {
                                    let order = orders[i];
                                    let left_cards = "";
                                    let orderItems = itemMap.get(order._id);

                                    for (let i = 0; i < orderItems.length; i++) {
                                        let item = orderItems[i];
                                        let dis = item.quantity * item.product.discount;
                                        let prc = item.quantity * item.product.price;

                                        left_cards +=
                                            `<div class="card my-2 mx-1" style="width: 18rem;">
                                                <ul class="list-group list-group-flush" style="width:100%;">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Name</span><span class="amount">${item.product.name}</span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Price</span><span class="amount">${item.product.price}</span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Bill</span><span class="amount">${prc}</span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Dioscounts</span><span class="amount">${dis}</span></li>
                                                </ul>
                                                <div class="card-footer text-success">
                                                    ${prc - dis}
                                                </div>
                                            </div>`;
                                    }

                                    let bill =
                                        `<div class="container  d-flex justify-content-center align-items-center">
                                            <div class="card my-2" style="width: 18rem;">
                                                <div class="card-header">
                                                    Bill
                                                </div>
                                                <ul class="list-group list-group-flush" id="bill-body" style="width:100%;">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Cart</span><span class="amount">${order.totalBill}</span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Discounts</span><span class="amount">${order.totalDiscount}</span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Delivery Charges</span><span class="amount text-success"><b>FREE</b></span></li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center"><span class="detail">Total Amount</span><span class="amount text-success">${order.totalBill - order.totalDiscount}</span></li>
                                                </ul>
                                            </div>
                                        </div>`;
                                    console.log(bill);

                                    html +=
                                        `<div class="order-div d-flex justify-content-between align-items-start" style="width=100%;background:#D5CEA3;">
                                            <div class="item-parent-div d-flex justify-content-center align-items-center col-6">${left_cards}</div>
                                            <div class="bill-parent-div d-flex justify-content-center align-items-center col-6">${bill}</div>
                                            <% if(session.userType === "admin"){%>
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" onclick="handleDelivery()">
                                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                                <label class="btn btn-outline-danger" for="btncheck1" class="delivery">Not Delivered</label>
                                            </div>
                                            <%}%>
                                        </div>`;
                                    console.log(html);

                                }

                                function handleDelivery() {
                                    $(".delivery").text("Delivered");
                                    $(".delivery").removeClass("btn-outline-danger");
                                    $(".delivery").addClass("btn-outline-success");
                                }

                                $(".my-orders-div").html(html);
                            });
                        });
                    });
                }

                // function rmvCart(cartid) {
                //     let body = { cartid: cartid };

                //     $.post("/rmv-to-cart", body, function (data, status) {
                //         console.log(body);
                //         display_orders();
                //     });
                // }

            </script>
            <%}%>
</head>


<body>
    <%- include ('../../partials/navbar') %>
        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                My Orders
                <hr>
            </h4>
        </div>
        <div class="container-fluid">
            <div class="container my-orders-div"></div>
        </div>
</body>

</html>