<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sells</title>
    <%- include ('../../partials/header-links') %>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="../JS/product-script.js"></script>

</head>

<body>
    <%- include('../../partials/navbar')%>

        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                Sells
                <hr>
            </h4>
        </div>

        <div class="mx-auto col-xl-6 col-lg-8 col-12 d-flex justify-content-center align-items-center rounded p-3" style="background: #E5E5CB;">
            <canvas class="myChart"></canvas>
        </div>
</body>

</html>