<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Login</title>
    <%- include ('../../partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="./css/admin-login.css">
</head>

<body>

    <% if(swr) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=errorMsg%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="container-fluid" id="login-admin-form-cnt">
            <form class="col-xl-5 col-md-8 col-sm-10 col-12 px-2 py-5" method="post">
                <div class="mb-3">

                    <!-- onchange="handleSystemUser()" -->
                    <select class="form-select" size="3" id="system_user" name="system_user">
                        <%if(result.system_user=== "Admin" ){%>

                            <option value="Admin" selected>Admin</option>
                            <option value="Accountant">Accountant</option>
                            <option value="Manager">Manager</option>
                            <%}else if(result.system_user==="Accountant" ){%>

                                <option value="Admin" selected>Admin</option>
                                <option value="Accountant" selected>Accountant</option>
                                <option value="Manager">Manager</option>
                                <%}else if(result.system_user==="Manager" ){%>

                                    <option value="Admin" selected>Admin</option>
                                    <option value="Accountant">Accountant</option>
                                    <option value="Manager" selected>Manager</option>
                                    <%}%>
                    </select>

                    <input type="email" class="form-control login-input" id="sys_user_email" name="sys_user_email"
                        placeholder="email" value="<%=result.sys_user_email%>" required>

                    <input type="password" class="form-control login-input" id="sys_user_pass" name="sys_user_pass"
                        placeholder="password" value="<%=result.sys_user_pass%>">

                </div>
                <button type="submit" class="btn btn-primary" id="proceed" name="proceed">Login</button>
            </form>
        </div>
        <%}else{%>

            <div class="container-fluid" id="login-admin-form-cnt">
                <form class="col-xl-5 col-md-8 col-sm-10 col-12 px-2 py-5" method="post">
                    <div class="mb-3">

                        <!-- onchange="handleSystemUser()" -->
                        <select class="form-select" size="3" id="system_user" name="system_user">
                            <option value="Admin">Admin</option>
                            <option value="Accountant">Accountant</option>
                            <option value="Manager">Manager</option>
                        </select>

                        <input type="email" class="form-control login-input" id="sys_user_email" name="sys_user_email"
                            placeholder="email" value="vraj.patel4801@gmail.com" required>

                        <input type="password" class="form-control login-input" id="sys_user_pass" name="sys_user_pass"
                            placeholder="password" value="root">

                    </div>
                    <button type="submit" class="btn btn-primary" id="proceed" name="proceed">Login</button>
                </form>
            </div>
            <%}%>
</body>

</html>