<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Login</title>
    <%- include ('../../partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="../css/system-user-login.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="container headDiv">
            <h3>
                System - User
                <i class="fa-solid fa-lock"></i>
            </h3>
            <hr>
        </div>
    </div>
    <% if(swr) {%>
        <div class="container alert alert-danger alert-dismissible fade show" role="alert">
            <%=errorMsg%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>

            <div class="container-fluid admin-loign-main-div">
                <!-- <div class="container col-lg-6 col-10 d-lg-block d-flex justify-content-center mx-lg-0 mx-auto admin-login-form-div"> -->
                <% if(swr) {%>
                    <div class="container col-xl-5 col-lg-8 col-md-10 col-12" id="login-form-cnt">
                        <form class="col-sm-10 col-12 px-sm-4 px-1 py-5" method="post">
                            <div class="my-2 mx-auto">

                                <!-- onchange="handleSystemUser()" -->
                                <select class="form-select" size="3" id="system_user" name="system_user" required>
                                    <%if(result.system_user=== "Admin" ){%>

                                        <option value="Admin" selected>Admin</option>
                                        <option value="Accountant">Accountant</option>
                                        <option value="Manager">Manager</option>
                                        <%}else if(result.system_user==="Accountant" ){%>

                                            <option value="Admin" selected>Admin</option>
                                            <option value="Accountant" selected>Accountant</option>
                                            <option value="Manager">Manager</option>
                                            <%}else if(result.system_user==="Manager" ){%>

                                                <option value="Admin" selected>Admin</option>
                                                <option value="Accountant">Accountant</option>
                                                <option value="Manager" selected>Manager</option>
                                                <%}%>
                                </select>
                            </div>
                            <div class="my-2 input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control login-input" id="sys_user_email"
                                    name="sys_user_email" placeholder="email" value="<%=result.sys_user_email%>"
                                    required>
                            </div>
                            <div class="my-2 input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="password" class="form-control login-input" id="sys_user_pass"
                                    name="sys_user_pass" placeholder="password" value="<%=result.sys_user_pass%>"
                                    required>
                            </div>
                            <div class="mt-3 mb-0 mx-auto">
                                <button type="submit" class="btn btn-type-1" id="proceed" name="proceed">
                                    Login <i class="fa-solid fa-right-to-bracket"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <%}else{%>

                        <div class="container col-xl-5 col-lg-8 col-md-10 col-12" id="login-form-cnt">
                            <form class="col-sm-10 col-12 px-sm-4 px-1 py-5" method="post">
                                <div class="my-2 mx-auto">
                                    <!-- onchange="handleSystemUser()" -->
                                    <select class="form-select" size="3" id="system_user" name="system_user" required>
                                        <option value="Admin">Admin</option>
                                        <option value="Accountant">Accountant</option>
                                        <option value="Manager">Manager</option>
                                    </select>
                                </div>
                                <div class="my-2 input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control login-input" id="sys_user_email"
                                        name="sys_user_email" placeholder="email" value="vraj.patel4801@gmail.com"
                                        required>
                                </div>
                                <div class="my-2 input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fa-solid fa-key"></i>
                                    </span>
                                    <input type="password" class="form-control login-input" id="sys_user_pass"
                                        name="sys_user_pass" placeholder="password" value="root" required>
                                </div>
                                <div class="mt-3 mb-0 mx-auto">
                                    <button type="submit" class="btn btn-type-1" id="proceed" name="proceed">
                                        Login <i class="fa-solid fa-right-to-bracket"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <%}%>

                            <!-- <div class="container col-lg-4 mx-0 d-lg-block d-none admin-login-image-div">
            <img src="../../Images/admin-images/admin-login.png" class="side-img" width="100%" alt="" srcset="">
        </div> -->
            </div>

</body>

</html>